{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles_page.object_list %}        
        {% if loop.first %}
            <aside id="featured" class="body">
                <article>
                {% if not article.type == "quote" %}
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} -- {{article.anu}}</a></h1> 
                    {% include 'article_infos.html' %}
                {% endif %}

                {% if article.type == "quote" %}
                    <div class="body-quote">
                        <a href='{{ SITEURL }}/{{ article.url }}'>
                {% endif %}

                {{ article.content }}{% include 'comments.html' %}

                {% if article.type == "quote" %}
                        </a>
                    </div>
                {% endif %}
                </article>
            </aside><!-- /#featured -->
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}
